@font-face {
    font-family: 'Airbnb Cereal App Bold';
    src: url('AirbnbCerealApp-Bold.woff2') format('woff2'),
        url('AirbnbCerealApp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App Medium';
    src: url('AirbnbCerealApp-Medium.woff2') format('woff2'),
        url('AirbnbCerealApp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App Book';
    src: url('AirbnbCerealApp-Book.woff2') format('woff2'),
        url('AirbnbCerealApp-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App Light';
    src: url('AirbnbCerealApp-Light.woff2') format('woff2'),
        url('AirbnbCerealApp-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cunia';
    src: url('cunia.woff2') format('woff2'),
        url('Cunia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
